<h3>This is Pokemon Show Page</h3>
Name: <%= @pokemon.name %>
<br/>
Type: <%= @pokemon.pokemon_type %>
<br/>
Weight: <%= @pokemon.weight %>
<br/>

<%= link_to "Edit Pokemon", edit_pokemon_path(@pokemon) %>
